@import "tailwindcss";

@layer base {
    body {
        @apply bg-slate-950 text-slate-100 antialiased;
    }
}

@layer utilities {
    .glass-panel {
        @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-2xl shadow-xl;
    }
}